.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 40px;
    padding: 10px;
  }
  
  .griditem {
    border: 1px solid #110f0f;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    width:10%;
    height: auto;
  }
