.hero
{
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30;
    width:100vw;
}
.h1
{
    font: poppins;
    font-weight: 400;
    font-size: 22px;
    color: var(--color-white);
    line-height: 48px;
}